<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>64187493073-5ck8vqjjgj1h5r58sm2pbhos2ah10rpu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64187493073-5ck8vqjjgj1h5r58sm2pbhos2ah10rpu</string>

	<key>GCM_SENDER_ID</key>
	<string>64187493073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.creator.goalsApp</string>
	<key>PROJECT_ID</key>
	<string>goalapp-203e5</string>
	<key>STORAGE_BUCKET</key>
	<string>goalapp-203e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64187493073:ios:9c0aba15d3dee36b7df3f0</string>
</dict>
</plist>